$coloramarillo: #F2E1C4;
$colorblanco: white;
$colornegro: black;
$sizeletra: 1rem;
$ancho: 30rem;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
} 


header {
    background-image: linear-gradient($coloramarillo, $colorblanco);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: $colornegro;
    width: 100%;
}

footer {
    background-image: linear-gradient($colorblanco, #844E5F);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    gap: 2rem;
    font-size: $sizeletra;
}

body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}


/*Index*/
/*Posicion navbar */
#header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#titulo {
    color: #9E5D72;
    font-family: 'Montserrat', sans-serif;
    font-size: $sizeletra * 3;
    font-weight: bold;
    animation-duration: 7s;
    animation-name: aparecer;
    transform: rotate(-5deg);
}

.navbar li {
    color: #844E5F;
    display: inline-block;
    margin: 0 1.5rem;
    position: relative;
    font-size: 2.5rem;
}

.navbar-toggler-icon {
    width: 2.8125rem;
    height: 2.8125rem;
    margin: 0.1rem;
}


.menuNav {
    color: $colornegro;
    font-weight: bold;
}

.navbar li:last-child {
    margin-right: 0%;
}

.navegacion {
    width: 100%;
    text-decoration: none;
}

.navegacion li {
    font-size: $sizeletra * 3;
}

h1 {
    color: #F2E1C4;
    font-size: 2.5rem;
    
}

p {
    color: $colornegro;
    font-size: 1.5rem;
    
}

h2 {
    color: #A5476D;
    font-size: 2rem;
    font-weight: lighter;
    
}

.textoIzq {
    text-align: left;
    }

.textoDerecha {
    text-align: right;
    align-items: right;
}

/*Texto de bienvenida*/
.bienvenidos{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 2rem;
    padding-top: 2rem;
}
.bienvenidos_titulo {
    color: #844E5F;
    font-size: $sizeletra + 2rem;
    font-weight: bold;
}

.bienvenidos_texto {
    animation-duration: 7s;
    animation-name: aparecer;
    color: #A5476D;
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
}

.textoIndex {
    font-size: 2rem;
    color: #844E5F;
    text-align: center;
    font-style: italic;
}


/*Formatos paginas*/
.tituloPaginas {
    animation-duration: 7s;
    animation-name: aparecer;
    color: #A5476D;
    font-size: 3rem;
    font-weight: bold;
}

/*formatofotosindex*/
.figure {
    margin: 1rem;
    padding: 2rem;
    display: flex;
    width: $ancho;
    height: 35rem;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.figure_fotovino {
    width: 30rem;
    height: 20rem;
    transform: scale(1,1);
}

.figure_fotovino:hover{
    width: $ancho + 5rem;
    height: 25rem;
}

.figure_fotocaja {
    width: $ancho;
    height: 35rem;
    transform: scale(1,1);
}

.figure_fotocaja:hover{
    width: 33rem;
    height: 38rem;
}


.figure_img {
    width: 100%;
    height: 100%;
}

.figure_texto {
    color: #A5476D;
    font-size: $sizeletra + 1rem;
    font-weight: bold;
}

.figureRegalos {
    display: flex;
    flex-flow: column nowrap;
    margin: 2rem;
}

.btn {
    font-size: 1.5rem;
}

.divRegalos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imagenRegalos {
    width: 30rem; 
    height: 46rem;
}

.textoRegalos {
    font-size: 1.5rem;
    color: #844E5F;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}



/*sectionFotosIndex*/

.section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.sectionProductos {
    display: flex;
    justify-content: center;
    align-items: center;

}
/*formatolistasproducto*/
.figureListas {
    flex-direction: row;
    margin: 2rem;
    padding: 3rem;
    img {
        width: 40%;
        height: 40%;
    }
}



.footer {
    font-size: $sizeletra + 1rem;
    width: 100%;
    height: 100%;
}

.footer_novedades {
    color: #844E5F;
    padding-top: 1rem;
}

.footer_redes {
    margin-top: 1.5rem;
    color: $colorblanco;   
    font-style: italic;
    font-weight: lighter;
    margin-bottom: 1rem;
}


/*submenu*/
.submenu {
position: absolute;
display: none;
}

.btn-secondary {
    background-color: transparent !important;
    color: rgba(0,0,0,.55);
    border: none;
    font-weight: bold;
}

.submenu li {
    display: block;
    background-color: #F2E1C4;
    width: 15rem;
    text-align: center;
}

.navbar li:hover .submenu{
    display: block;
}

.historia {
    animation-duration: 7s;
    animation-name: aparecer;
    display: flex;
    margin: 1rem;
    justify-content: center;
    align-items: center;
}


.historia_texto {
align-content: space-around;
font-style: italic;
margin-right: 15rem;
margin-left: 15rem;
margin-top: 23rem;
margin-bottom: 25rem;
padding: 0.3rem;
flex-flow: column nowrap;
width: 100%;
height: 100%;
font-size: 2rem;
}

.imagenHistoria {
    margin-left: 5rem;
    margin-top: 2.5rem;
    border-radius: 5%;
}

.fotosregalos {
    margin-top: 5rem;
}

.formulario {
    font-size: 1.7rem;
    width: 100%;
    height: 100%;
}

.formularioInput {
        width: 32rem;
    }


.fotocontacto {
    width: 31rem; 
    height: 18rem;
}



/*menu hamburguesa bootstrap*/
#menuHamburguesa {
    background-color: transparent !important;}

    /*fotmato titulos paginas*/
#titulosPages {
    margin: 5rem;
}


@media only screen and (max-width: 1200px){
    .navegacion li {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 768px){
    .navegacion li {
        font-size: 1.7rem;
    }
    .divRegalos{
        flex-direction: column;
        }

    .figureListas{
        padding: 0;
        margin: 1rem;
        img{
            width: 100%;
            height: 100%;
        }
    }
}

@media only screen and (max-width: 758px) {

}

@media only screen and (max-width: 320px){
    #header{
        flex-wrap: wrap;
    }
    .navegacion li {
        font-size: 2rem;
    }
    .navbar li {
        display: block;
    }
    .navbar-nav{
        align-items: center;
    }
    #navDropdown {
        text-align: center;
    }
    .section {
        flex-direction: column;
    }
    header {
        flex-direction: column;
    }
    body {
        flex-direction: column;
    }
    .historia {
        flex-direction: column;
    }
    .figure_img {
        flex-direction: column;
    }
    .imagenHistoria {
        width: 80%;
        height: 80%;
    }
    .figureRegalos {
        flex-direction: column;
    }
    .figureListas{
        padding: 0;
        margin: 1rem;
        img{
            width: 100%;
            height: 100%;
        }
    }

}

@media only screen and (max-width: 425px){
    #header{
        flex-wrap: wrap;
    }
    .navegacion li {
        font-size: 2rem;
    }
    .navbar li {
        display: block;
    }
    .navbar-nav{
        align-items: center;
    }
    #navDropdown {
        text-align: center;
    }
    .section {
        flex-direction: column;
    }
    header {
        flex-direction: column;
    }
    body {
        flex-direction: column;
    }
    .historia {
        flex-direction: column;
    }
    .imagenHistoria {
        width: 80%;
        height: 80%;
    }
    .divRegalos{
    flex-direction: column;
    }
    .tamañoImagenesIndex {
        flex-direction: column;
    }
}

@media only screen and (max-width: 590px){
    #header{
        flex-wrap: wrap;
    }
    .navegacion li {
        font-size: 2rem;
    }
    .navbar li {
        display: block;
    }
    .navbar-nav{
        align-items: center;
    }
    #navDropdown {
        text-align: center;
    }
    .section {
        flex-direction: column;
    }
    header {
        flex-direction: column;
    }
    body {
        flex-direction: column;
    }
    .historia {
        flex-direction: column;
    }
    .imagenHistoria {
        width: 80%;
        height: 80%;
    }
    .divRegalos{
    flex-direction: column;
    }
    .tamañoImagenesIndex {
        flex-direction: column;
    }
}

@keyframes aparecer {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
}